<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="yellow">
<form action="./submit">
    Enter customer id :<input type="text" name="t1"><br>
    Enter customer name:<input type="text" name="t2"><br>
    Enter customer job:<input type="text" name="t3"><br>
    Enter customer branch:<input type="text" name="t4"><br>
    Enter customer balance:<input type="text" name="t5"><br>
    <input type="submit" value="submit">
    <input type="button" value="cancel" onclick="history.back()">
</form>

</body>
</html>