<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="red">
<form action="./update">
    Customer id :<input type="text" name="t1" value="{{ rec.cid }}"><br>
    Customer name :<input type="text" name="t2" value="{{ rec.cname }}"><br>
    Customer job :<input type="text" name="t3" value="{{ rec.cjob }}"><br>
    Customer branch :<input type="text" name="t4" value="{{ rec.cbranch }}"><br>
    Customer balance :<input type="text" name="t5" value="{{ rec.cbalance }}"><br>
<input type="submit" value="update">
</form>

</body>
</html>